:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(12, 10, 10, 0.87);
  background-color: #9b1d1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  min-width:max-content;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}
div h4{
    color: rgb(240, 240, 243);
}

div h4:hover{
    color: rgb(97, 11, 208);
}

